*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: mulish-regular;
    color: rgb(51, 51, 51);
}

button{
    font-family: mulish-regular;
}

path,
i,
svg {
    pointer-events: none;
}

